// $primary: #0b4170;
// $primary-inverted: #ecd7b3;
// $background: #ecd7b3;
// $background-inverted: #0b4170;

$primary: #000000;
$primary-inverted: #ffffff;
$background: #ffffff;
$background-inverted: #000000;

$neutral-100: #ffffff;
$neutral-200: #f4f5f7;
$neutral-300: #e1e1e1;
$neutral-400: #737581;
$neutral-500: #4a4b53;
$neutral-600: #000000;

$error: #fa4141;
$warning: #ffd700;
$success: #21ff63;
